### QUES. NO. 1

In [1]:
string = " this is my class "   ## here i have taken a string

In [2]:
string[::-1]    ## it will reverse the string elements

' ssalc ym si siht '

In [3]:
## METHOD 2
string1 = "hello world" ## we have taken another string

In [4]:
reversed(string1)   ## if we use 'reversed()' function it returns iterator object rather than a reversed string

In [5]:
' '.join(reversed(string1))    ## To convert reversed iterator to reversed string we use '.join()' method  and ' ' is used as an empty string where the join() method combines the value in single string

'd l r o w   o l l e h'

### QUES. NO. 2

In [6]:
## first we have created a string containing all the vowels

VOWELS = ('A' , 'E' , 'I', 'O' , 'U', 'a', 'e', 'i', 'o', 'u')

## Now another string is created to check the numver of vowels present in it

string = (" Its raining, open umbrella") 


print(VOWELS)
print(string)

('A', 'E', 'I', 'O', 'U', 'a', 'e', 'i', 'o', 'u')
 Its raining, open umbrella

In [7]:
# lets initialize variable vowel_count = 0

vowel_count = 0

for char in string:                 # iterate through each character 'char' in string
    
    if char in VOWELS:              # if 'char' is a vowel
       
        vowel_count += 1            # increment in 'vowel_count' by 1 is done

print ( "The number of vowels are:", vowel_count)

The number of vowels are: 9

### QUES. NO. 3

#### PALINDROME :-
It can be defined as a sequence of characters which can be read same from forward and backwards, ignoring the punctuation , spaces and capitalisation.

In [8]:
# create a input function for taking string input

string = input( " Enter the value" )
reverse = string[::-1]     # slicing will give reverse of string

if (string == reverse):
    print ("It's a palindrome")
else:
    print (" It's not a palindrome")

print(" The reverse of string was: ", reverse)

 Enter the value a man , a plan

 It's not a palindrome
 The reverse of string was:  nalp a , nam a

In [9]:
reverse = string[::-1]

In [10]:
reverse   ## as we can see reverse != string

'nalp a , nam a'

In [12]:
# create a input function for taking string input

string = input( " Enter the value" )
reverse = string[::-1]     # slicing will give reverse of string

if (string == reverse):
    print ("It's a palindrome")
else:
    print (" It's not a palindrome")

print(" The reverse of string was: ", reverse)

 Enter the value madam

It's a palindrome
 The reverse of string was:  madam

In [13]:
# create a input function for taking string input

string = input( " Enter the value" )
reverse = string[::-1]     # slicing will give reverse of string

if (string == reverse):
    print ("It's a palindrome")
else:
    print (" It's not a palindrome")

print(" The reverse of string was: ", reverse)

 Enter the value racecar

It's a palindrome
 The reverse of string was:  racecar

### QUES. NO. 4

#### ANAGRAMS :- 
     Anagrams are the words or phrases which are formed by rearranging the letters of another word or phrase in a different order.

In [14]:
string1 = input (" Enter the First Word : ")
string2 = input (" Enter the Second Word: ")

# First we will try to replace all the "  " with "" the we will lowercase the words

word1 = string1.replace(" " , "").lower()
word2 = string2.replace(" " , "").lower()

# Now we will sort both the strings and apply the condition

if sorted(word1) == sorted(word2):
    print( "Yes , the strings are anagrams of each other" )

else:
    print( " No , the strings are not anagrams" )

 Enter the First Word :  Debit card
 Enter the Second Word:  Bad credit

Yes , the strings are anagrams of each other

In [15]:
string1 = input (" Enter the First Word : ")
string2 = input (" Enter the Second Word: ")

# First we will try to replace all the "  " with "" the we will lowercase the words

word1 = string1.replace(" " , "").lower()
word2 = string2.replace(" " , "").lower()

# Now we will sort both the strings and apply the condition

if sorted(word1) == sorted(word2):
    print( "Yes , the strings are anagrams of each other" )

else:
    print( " No , the strings are not anagrams" )

 Enter the First Word :  apple
 Enter the Second Word:  banana

 No , the strings are not anagrams

### QUES.NO. 5

In [16]:
# First we will take input of string and substring

string = input ( " Enter the string : " )
substring = input ( " Enter the substring : " )

# We will use count function to count how many times substring occured in string

count_substring = string.count(substring)

print( f" Occurances of '{substring}' in '{string}' : {count_substring}")

 Enter the string :  substring in string
 Enter the substring :  in

 Occurances of 'in' in 'substring in string' : 3

In [17]:
# First we will take input of string and substring

string = input ( " Enter the string : " )
substring = input ( " Enter the substring : " )

# We will use count function to count how many times substring occured in string

count_substring = string.count(substring)

print( f" Occurances of '{substring}' in '{string}' : {count_substring}")

 Enter the string :  cars got scars
 Enter the substring :  car

 Occurances of 'car' in 'cars got scars' : 2

### QUES. NO. 6

In [18]:
# We will take input of string

STRING = input ( " Enter the string value " )

ch = STRING[0]   ## first we will take character as 'ch' and of index [0] of string

count = 0         ## we will intialize the count from 0

result = ""        ## we have taken result  blank as initial

STRING = STRING + " "   ## we have taken " " so that it can take last character also

for i in STRING:
    if i == ch:
        count += 1
    else:
        result = result + " " + str(ch) + str(count)  ## for concatenation we coverted int into str
        ch = i                                    ## updation of 'ch' value
        count = 1
print(result)

 Enter the string value  heenddoinggreeting

 h1 e2 n1 d2 o1 i1 n1 g2 r1 e2 t1 i1 n1 g1

### QUES NO. 7

In [19]:
## EXAMPLE 1
string= input("Enter the string value")

is_unique = True      ## raised a flag of is_unique = True

for i in string:                 
    if string.count(i) > 1:          # raised condition if number of character >1
        is_unique = False            # if repeated then is_unique = False
        break                        # exit of loop

if is_unique:
    print(" All the characters in string are unique")
else:
    print(" Not all characters in string are unique")

Enter the string value pw skills

 Not all characters in string are unique

In [20]:
# EXAMPLE 2
string= input("Enter the string value")

is_unique = True     

for i in string:                 
    if string.count(i) > 1:         
        is_unique = False           
        break                        

if is_unique:
    print(" All the characters in string are unique")
else:
    print(" Not all characters in string are unique")

Enter the string value wonderful

 All the characters in string are unique

### QUES. NO. 8

In [21]:
string = " Its my first Assignment "

# To convert string in uppercase we will use .upper method

string1 = string.upper()

string1

' ITS MY FIRST ASSIGNMENT '

In [22]:
string = " I am Very Happy to tell This "

# To convert string in lowercase we will use .lower method

string1 = string.lower()

string1

' i am very happy to tell this '

### QUES. NO. 9

In [23]:
string = " Hey here i will count the words "

split_string = string.split()     ## split of string helps to make each word as an unique element

print(f"the count of words in string are : {len(split_string)}")

the count of words in string are : 7

### QUES. NO. 10

In [24]:
# METHOD 1

str1 = "hello world "
str2 = " how are you all "

print(f"{str1}{str2}")

hello world  how are you all

In [25]:
type(f"{str1}{str2}")

str

In [26]:
# METHOD 2

str1 = "hello world "
str2 = " how are you all "

STR1 = str1.split()             # first we splitted the strings
STR2 = str2.split()

STR1.extend(STR2)              # then used the .extend to join them

final_list = str(STR1)         # then did typecasting back to string

In [27]:
final_list

"['hello', 'world', 'how', 'are', 'you', 'all']"

In [28]:
type(final_list)

str

### QUES. NO. 11

In [29]:
list1 = [ 11,22,33,44,55,66,22,33,33,78 ]

value = int(input("Enter the value: "))

if value in list1:                      # first we will check whether the value is in list or not
    while value in list1:               # value is entered in while loop so that it can remove all the value occuring in list
        list1.remove(value)

else:
    print(" value doesnt exist")

print(list1)

Enter the value:  33

[11, 22, 44, 55, 66, 22, 78]

### QUES.NO.12

In [30]:
lst = [ 52,48,85,7,6,9,5,45,76,25,98 ]

sorted_list = lst.sort()  ## FIRST SORTING IS DONE TO BRING THEM IN ASCENDING ORDER

print(lst)                ## THEN INDEX IS CHOOSED

print( f" The second largest number is : {lst[-2]}" )

[5, 6, 7, 9, 25, 45, 48, 52, 76, 85, 98]
 The second largest number is : 85

### QUES. NO. 13

In [31]:
list1 = [45 , 58 , 58 , 6 , 4 , 5 , 45 ,25 , 47 , 85 , 45]

## element and occurance of each element using dictionary comprehension
my_dict = { element:list1.count(element) for element in list1}

print(my_dict)

{45: 3, 58: 2, 6: 1, 4: 1, 5: 1, 25: 1, 47: 1, 85: 1}

### QUES. NO. 14

In [32]:
LST1 = [ 54 , 84 , 95 , "all" , 58 , 96 , "are" , "good" ]

LST1[::-1]                 ## REVERSED THE LIST

['good', 'are', 96, 58, 'all', 95, 84, 54]

### QUES.NO. 15

In [33]:
#METHOD 1

lst = [ 45 , 120 , 510 , 45 , 51 , 85 , 96 , 510 , 875]

new_list = []          # created a blank list for getting unique elements

for i in lst:
    if i not in new_list:                  # if the i element is not in new_list
        new_list.append(i)                 #it will add it to the new_list and again iterate
        
        
print(new_list)                            # final list with unique elements

[45, 120, 510, 51, 85, 96, 875]

In [34]:
#METHOD 2
 
lst = [ 45 , 120 , 510 , 45 , 51 , 85 , 96 , 510 , 875]

# WE used dict.fromkeys as dictionary contains unique keys and then we did typecasting to convert the keys into list
NEW_LIST = list(dict.fromkeys(lst))

NEW_LIST

[45, 120, 510, 51, 85, 96, 875]

### QUES.NO. 16

In [35]:

# METHOD 1


lst = [ 45 , 120 , 510 , 51 , 85 , 96 , 875]

if sorted(lst) != lst:
    print("list is not sorted")

else:
    print("list is sorted")

list is not sorted

In [36]:

## METHOD 2

# for ascending order

lst = [ 45 , 120 , 510 , 51 , 85 , 96 , 875]

is_sorted = True                     ## raised a flag of true value

for i in range(len(lst)-1):
    if lst[i] >= lst[i+1]:         ## checking if the element of ith index is >= element of (i+1)th index
        is_sorted = False
        break
        
if is_sorted == True :
    print("List is sorted")

else:
    print(" List is not sorted ")

 List is not sorted

In [37]:
# for descending order

lst = [ 890 , 789 , 123, 43 , 21, 20, 12]

is_sorted = True                     ## raised a flag of true value

for i in range(len(lst)-1):
    if lst[i] <= lst[i+1]:         ## checking if the element of ith index is <= element of (i+1)th index
        is_sorted = False
        break
        
if is_sorted == True :
    print("List is sorted")

else:
    print(" List is not sorted ")

List is sorted

### QUES.NO.17

In [38]:

## we implied sorted function 

lst = [ 45 , 120 , 510 , 51 , 85 , 96 , 875]    
lst1 = [ 23 , 65 , 21 , 32 , 567 , 43 ]

#sorted lst and lst1 and then again sorted 
new_list = sorted(sorted(lst) + sorted(lst1))

new_list

[21, 23, 32, 43, 45, 51, 65, 85, 96, 120, 510, 567, 875]

### QUES.NO. 18

In [39]:
lst = [ 45 , 120 , 510 , 51 , 85 , 96 , 875]
lst1 = [ 45 , 120 , 65 , 21 , 96 , 567 , 43 ]

intrsct_list = []

for i in lst:
    if i not in lst1:
        intrsct_list.append(i)

print(intrsct_list)

[510, 51, 85, 875]

### QUES.NO. 19

In [40]:
## UNION OF TWO LISTS 

lst = [ 45 , 120 , 510 , 51 , 85 , 96 , 875 , 32 ]
lst1 = [ 23 , 65 , 21 , 32 , 567 , 43 , 96 , 45 ]

union_list = []

for i in lst:
    if i not in union_list:        ## checking the elements of  first list and if not present adding in union_list
        union_list.append(i)

for j in lst1:
    if j not in union_list:
             union_list.append(j)    ##checking the elements of second list and if not present adding in union_list
print(union_list)

[45, 120, 510, 51, 85, 96, 875, 32, 23, 65, 21, 567, 43]

### QUES. NO. 20

In [41]:
lst1 = [ 23 , 65 , 21 , 32 , 567 , 43 , 96 , 45 ]

## since sets have unordered elements 
shuffled_list = list(set(lst1))

shuffled_list

[32, 65, 96, 43, 45, 23, 21, 567]

### QUES.NO. 21

In [42]:

tup1 = ( 1 , 85 , 23 ,34, 345 , 566 , "tuple" , [23,45,54] , "hello")
tup2 = ( "wonder" ,  [23,45,54] , 34 , 45 , 783 , "hello" , 489 )

common_elements = []

for i in tup1:
        if i in tup2:                     ## getting i element should be in both tuples
            common_elements.append(i)
            
common_tuple = tuple(common_elements)    ## converting list to tuple

print(common_tuple)

(34, [23, 45, 54], 'hello')

### QUES.NO.22

In [43]:
set1 = input("Enter the values in set 1 : ")   ##take input values for set
set2 = input("Enter the values in set 2 : ")

new_set1 = set(set1.split())        ## conversion in sets by splitting
new_set2 = set(set2.split())

new_set1.intersection(new_set2)

Enter the values in set 1 :  orange apple 32 56 23
Enter the values in set 2 :  apple banana 23 56 90

{'23', '56', 'apple'}

### QUES.NO. 23

In [44]:
name = ( "amit" , "sonam" , "rajesh" , "krishna" )

city = ( "delhi" , "mumbai" , "lucknow" , "jaipur" , "banaras")

name_city = name + city

print (name_city , end=" ")

('amit', 'sonam', 'rajesh', 'krishna', 'delhi', 'mumbai', 'lucknow', 'jaipur', 'banaras')

### QUES.NO. 24

In [ ]:
set1 = input(" Enter the value in strings for set1 : ") ## input as string
set2 = input(" Enter the value in strings for set2 : ")

str_set1 = set(set1.split())      ## splitting string input and then converting into set
str_set2 = set(set2.split())

difference_set = str_set1.difference(str_set2)  ## difference function is used

print(f" Elements in first set not in second are : {difference_set}" )

 Enter the value in strings for set1 :  hello its siri here
 Enter the value in strings for set2 :  hii siri how are u

 Elements in first set not in second are : {'its', 'hello', 'here'}

### QUES.NO. 25

In [ ]:
def elem_in_range(tupl, start_index, end_index):
    
    # Check if start_index and end_index are valid
    
    if start_index < 0 or end_index >= len(tupl) or start_index > end_index:
        return "Invalid indices"
    
    # Select elements within the specified range
    
    selected_elements = tupl[start_index:end_index+1]
    return tuple(selected_elements)

# Example usage:

original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
start_index = 2
end_index = 5
result = elem_in_range(original_tuple, start_index, end_index)

print("Selected elements within the range:", result)

Selected elements within the range: (3, 4, 5, 6)

### QUES.NO. 26

In [48]:
ch_set1 = input(" Enter the values in character : ")
ch_set2 = input(" Enter the values in character : ")

set1 = set(ch_set1.split())
set2 = set(ch_set2.split())

print(f"The union of sets is : {set1.union(set2)}")

 Enter the values in character :  a b d y f h
 Enter the values in character :  d u h j k l

The union of sets is : {'y', 'k', 'd', 'b', 'f', 'h', 'a', 'l', 'j', 'u'}

### QUES.NO. 27

In [49]:
tuple2 = (54 , 95 , 21 , 99 , 100 , 1021 , 54 , 10 , 14 )

print(f" Maximum Value : {max(tuple2)}")
print(f" Minimum Value : {min(tuple2)}")

 Maximum Value : 1021
 Minimum Value : 10

### QUES.NO. 28

In [50]:
set1 = { 1 , 2 , 3 , 45 , 67 , 8 , 6 , 4 , 3 , 5 , 645 ,6 , 5 , 6 }
set2 = { 23 , 35 , 6 , 65 , 6 , 6 , 4 , 3 , 4 , 52 , 1 , 3 }

print(f" The union is : {set1.union(set2)} ")

print(f" The intersection is : {set1.intersection(set2)} ")

print(f" The difference is : {set1.difference(set2)} ")

 The union is : {1, 2, 3, 67, 4, 6, 5, 8, 645, 65, 35, 45, 52, 23}
 The intersection is : {1, 3, 4, 6}
 The difference is : {2, 67, 5, 645, 8, 45}

### QUES. NO. 29

In [51]:
tuple1 = ( 1 , 2 , 3 , 4 , 5 , 6 , 78 , 5 , 54 , 65 , 65 , 32 )   

element = int(input("Please enter the element : ")) 

print(f"The count of element is : {tuple1.count(element)} ")

Please enter the element :  65

The count of element is : 2

In [52]:
tuple1 = ( 1 , 2 , 3 , 4 , 5 , 6 , 78 , 5 , 54 , 65 , 65 , 32 )   

element = int(input("Please enter the element : ")) 

print(f"The count of element is : {tuple1.count(element)} ")

Please enter the element :  3

The count of element is : 1

### QUES.NO. 30

In [53]:
set1 = input(" Enter the value in strings for set1 : ") ## input as string
set2 = input(" Enter the value in strings for set2 : ")

str_set1 = set(set1.split())      ## splitting string input and then converting into set
str_set2 = set(set2.split())

symmetric_difference = str_set1.symmetric_difference(str_set2)

print(f" The symmetric difference of these sets is : {symmetric_difference} ")

 Enter the value in strings for set1 :  siri how r u
 Enter the value in strings for set2 :  am fine how r u

 The symmetric difference of these sets is : {'am', 'fine', 'siri'}

### QUES.NO. 31

In [54]:
list1 = [ "apple" , "red" , "colour" , "cherry" , "red" , "banaana", "colour" , "red" ]


dict_key = {}

for element in list1:
    if element in dict_key:
        dict_key[element]  += 1
    
    else:
        dict_key[element] = 1

print(f" The word frequency dictionary is : {dict_key} ")

 The word frequency dictionary is : {'apple': 1, 'red': 3, 'colour': 2, 'cherry': 1, 'banaana': 1}

###  QUES.NO. 32

In [55]:
# Combine two dictionaries and adding values if the key are same

dict1 = { "jan" : 31 , "feb" : 28 , "march" : 31 , "april" : 30}
dict2 = { "feb" : 29 , "may" : 31 , "jan" :30 }

for key in dict1.keys():             # initializing key from dict1
    if key in dict2.keys():           # checking if same key is in dict2
        
        dict1[key] = dict1[key] + dict2[key]           # updating dict[1]
        
    dict2[key] = dict1[key]
    
print (dict2)

{'feb': 57, 'may': 31, 'jan': 61, 'march': 31, 'april': 30}

### QUES.NO. 33

In [56]:
## Accessing through nested dictionary

def access_nested_dict(dictionary, keys):
    nested_dict = dictionary
    for key in keys:                                                 
        if isinstance(nested_dict, dict) and key in nested_dict:           ## isinstance is used to check whether the object belongs to the particular datatype or not
            nested_dict = nested_dict[key]                                 ## if yes then returns True otherwise False
        else:
            return None
    return nested_dict

# Example dictionary
my_dict = {'person': {'name': 'Alexa','age': 30 ,'address': {'city': 'New York','zip_code': '10001'}}}

# List of keys to access nested value
keys_to_access = ['person', 'address' , 'city']

# Accessing the nested value
result = access_nested_dict(my_dict, keys_to_access)

# Printing the result
print("Result:", result)

Result: New York

In [57]:
## Accessing through nested dictionary

def access_nested_dict(dictionary, keys):
    nested_dict = dictionary
    for key in keys:                                                 
        if isinstance(nested_dict, dict) and key in nested_dict:           ## isinstance is used to check whether the object belongs to the particular datatype or not
            nested_dict = nested_dict[key]                                 ## if yes then returns True otherwise False
        else:
            return None
    return nested_dict

# Example dictionary
my_dict = {'person': {'name': 'Alexa','age': 30 ,'address': {'city': 'New York','zip_code': '10001'}}}

# List of keys to access nested value
keys_to_access = ['person', 'address']

# Accessing the nested value
result = access_nested_dict(my_dict, keys_to_access)

# Printing the result
print("Result:", result)

Result: {'city': 'New York', 'zip_code': '10001'}

### QUES.NO.34

In [58]:
dictionary = {'a' : 54 , 'e' : 43 , 't' : 324 , 'r' : 123 , 'u' : 345}
## sorting in ascending order on based of values
asc_dictionary = dict( sorted(dictionary.items(), key=lambda x:x[1]))   ## here lambda is an anonymous function 

print(asc_dictionary)

{'e': 43, 'a': 54, 'r': 123, 't': 324, 'u': 345}

In [59]:
dictionary = {'a' : 54 , 'e' : 43 , 't' : 324 , 'r' : 234 , 'o' : 567}
## sorted in descending order on based of values
dsc_dictionary = dict( sorted(dictionary.items(),reverse= True, key=lambda x:x[1]))

print(dsc_dictionary)

{'o': 567, 't': 324, 'r': 234, 'a': 54, 'e': 43}

### QUES NO. 35

In [60]:
def invert_dict(d):
    inverted_dict = {value: [key for key, val in d.items() if val == value] for value in set(d.values())}
    return inverted_dict

# Example usage:
original_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}

inverted_dict = invert_dict(original_dict)

print(inverted_dict)

{1: ['a', 'c'], 2: ['b'], 3: ['d']}